a:link { text-decoration: none;color: blue}
a:active { text-decoration:blink}
a:hover { text-decoration:none;color: #000000}
a:visited { text-decoration: none;color: #AAAAAA}

.WorkList{
  width: 500px;
  height:500px;
  margin-left: 20%;
  position: absolute;
  top:0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: table;
}
.item{
  width: 100px;
  height: 40px;
  display: table;
  margin: 4em 0em 4em 0em;
}
#title{
  display: table;
  font-size: 28px;
}
#info{
  font-size: 23px;
}

#T1{
	width: 100%;
	height: 60px;
	line-height: 60px;
  position: fixed;
  bottom: 0;
}
#T12{
	width: 100%;
	height: 60px;
	line-height: 60px;
  position: fixed;
  bottom: 30px;
}

#T2{
	width: 100%;
	height: 60px;
	line-height: 60px;
  position: fixed;
  top: 0;
}
#T22{
	width: 100%;
	height: 60px;
	line-height: 60px;
  position: fixed;
  top: 30px;
}

.ti_wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.ti_slide{
	width: 3000px;
	position: relative;
	left: 0;
	top: 0;
}
.ti_content{
	width: 800px;
	position: relative;
	float:left;
}
.ti_news{
	float:left;
}
.ti_news a{
	display: block;
	margin-right: 10px;
	color:black;
  font-size: 25px;
	text-decoration: none;
	font-family: geneva;
}
body{
	margin:0;
	padding:0;
}
