body { margin: 0; }

#top {   
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
#container { position: relative;  }
#overlay { 
  position:absolute; left:100; top:5; color:#fff; font-size:12px;font-weight:bold";
  }

